@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Bungee+Inline&family=Bungee+Shade&family=Cabin+Sketch&family=Dawning+of+a+New+Day&family=Finger+Paint&family=Fredericka+the+Great&family=IBM+Plex+Sans+Devanagari&family=Jacques+Francois+Shadow&family=Libre+Barcode+39+Text&family=Monoton&family=Montserrat+Alternates&family=Montserrat:ital@1&family=Nosifer&family=Notable&family=Nothing+You+Could+Do&family=Rubik+Beastly&family=Zen+Tokyo+Zoo&family=Zilla+Slab+Highlight&display=swap');

body{
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: white;
}
/* header */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(207, 207, 207, 0.842);
    position: sticky;
    height: 60px;
    top: 0;
    border-radius: 10px;
}
.profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: 'Source Serif Pro', serif;
}
.profile img{
    max-width: auto;
    height: 60px;
    border-radius: 50%;
}
nav .profile h1{
    font-size: 15px;
    margin-left: 10px;
}
.container-head{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}
nav .btn{
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin-right: 15px;
}
nav .btn:hover{
    color: rgb(12, 80, 143);
    border-bottom-color: rgb(255, 255, 255);
}
/* main */
/* Page global content */
.page-content{
    margin: 2%;
}
/* Titre et accroche */
.titlebox{
    background-color: None;
}
.img_title{
    height: 200px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 30px 30px;
}
h1{
    font-family: 'Nothing You Could Do', cursive;
    position: relative;
    z-index: 1;
    color: #000;
    font-size: 7em;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
    cursor: default;
}
.firstname{
    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 2px #36424e;
    font-family: 'Fredericka the Great', cursive;

}
.lastname{
    font-size: 7em;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 2px #36424e;
    font-family: 'Fredericka the Great', cursive;

}
.titlebox h3{
    color: rgba(46, 41, 41, 0.795);
    margin-bottom: 0px;
    font-size: 2.3vw;
    text-align: right;
    font-family: 'Nothing You Could Do', cursive;
}

.module-line-long {
    background: #666;
    width: auto;
    height: 1px;
    margin: auto;
}
/* Présentation */
.presentation-section{
    background-color:rgba(185, 175, 175, 0.253);
    padding: 0 0 50px;
    margin-top: 10%;
    border-radius: 1.5%;
}
h2{
    text-align: center;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    position: relative;
    margin-bottom: 50px;
    color: rgb(83, 73, 73);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.module-title span{
    color:rgb(156, 15, 15);
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -40px;
    z-index: 0;
    opacity: 0.20;
    font-weight: 700;
    box-sizing: border-box;
    font-family: 'Nothing You Could Do', cursive;
}

.module-line {
    background: #666;
    width: 55px;
    height: 1px;
    margin: 30px auto;
}
.lead{
    margin-top: 5px;
    font-size: 20px;
    color: #181515;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
.signature{
    margin-top: 5px;
    font-size: 30px;
    color: #181515;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
}
.presentation-image img{
    border-radius: 10px;
    box-shadow: #666 1px 2px 5px;
    max-width: 45%;
    max-height: auto;
    transition:  0.5s;
}
.presentation-image img:hover{
    filter: brightness(50%);
}
img.img_main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.projets-section{
    background-color:rgba(210, 214, 230, 0.308);
    margin-top: 6%;
    border-radius: 2%;
}
.projets-section h1{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    text-align: center;
}
.projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projet{
    margin-right: 20px;
    max-width: 195px;
}
.projet h4{
    margin: 0;
}
.description{
    margin-top: -1px;
    font-size: 22px;
}
.skills{
    font-size: 16px;
}

/* footer */
.footer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.footer h3{
    font-size: 25px;
    font-family: 'Libre Barcode 39 Text', cursive;
    color: black;
    margin-bottom: 10px;
}
.colonne p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.colonne a{
    text-decoration: none;
}
.colonne p:hover{
    color: rgb(113, 100, 161);
}


@media screen and (max-width: 750px){
    nav{
        justify-content: center;
    }
    nav ul{
        display: none;
    }
    .module-title span{
        font-size: 80px;
    }
    .firstname{
        font-size: 5em;
    }
    .lastname{
        font-size: 5em;
    }
    .lead{
        font-size: 15px;
    }
    .signature{
        font-size: 20px;
    }
    .projets-section{
        margin-top: 15%;
    }
    .presentation-image img{
        max-width: 60%;
    }
    .page-content .projets-section h1{
        font-size: 1.5em;
    }
    .page-content .projets-section .projets .projet{
        margin-right: 0px;
        margin-bottom: 20px;
        max-width: 100%;
    }
    footer{
        justify-content: flex-start;
    }
    footer .colonne{
        width: 80%;
    }
    nav{
        height: 80px;
    }
}
.footer h3{
    font-size: 18px;
    margin-bottom: -1px;
}
.colonne p{
    font-size: 15px;
    margin-bottom: 5px;
    }
.footer{
    display: center;
    }


@media screen and (max-width: 500px){
    .module-title span{
        font-size: 60px;
    }
    .firstname{
        font-size: 4em;
    }
    .lastname{
        font-size: 4em;
    }
    .footer h3{
        font-size: 15px;
        margin-bottom: -1px;
    }
    .colonne p{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .footer{
        display:block;
        
    }
}